.titleBox {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.navbar-default {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #a3c4d0;
  text-align: center;
}
.menu li {
  position: relative;
  display: inline;
  text-align: center;
  margin-left: 50px;
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  border: 3px solid #5f99ae;
}
.about {
  text-align: center;
  width: 40%;
  margin: auto;
  padding-top: 60px;
}
.me {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
  top: 175px;
}
.col-md-6 {
  height: 200px;
}
#text1 {
  position: absolute;
  top: 10px;
  float: left;
  margin: auto;
}
#text2 {
  position: absolute;
  top: 10px;
  float: right;
  margin: auto;
}
.skills {
  position: absolute;
  top: 350px;
  height: 200px;
  width: 99%;
}
.skilltitle {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
#skills1 {
  position: absolute;
  top: 50px;
  float: left;
}
#skills2 {
  position: absolute;
  top: 50px;
  float: right;
}
.projects {
  position: absolute;
  top: 550px;
  width: 99%;
  height: 200px;
}
.projtitle {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
#projects {
  position: absolute;
  top: 50px;
  float: left;
  margin-left: 40px;
}
.resume {
  position: absolute;
  top: 750px;
  width: 99%;
  height: 200px;
}
.jobtitle {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.jobs {
  float: left;
  top: 35px;
}
.school {
  position: absolute;
  top: 950px;
  width: 99%;
  height: 200px;
}
.schoolTitle {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.schoolPlaces {
  float: left;
  top: 35px;
}
.contact {
  position: absolute;
  top: 1150px;
  width: 99%;
  height: 400px;
}
.contactTitle {
  border-top: 2px solid #a3c4d0;
  border-bottom: 2px solid #a3c4d0;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.contactBox {
  height: 300px;
  width: 300px;
  display: block;
  top: 50px;
  margin: 0 auto;
  background-color: #a3c4d0;
}
